<h1>Corramos.cl</h1>

<p>
  Bienvenido a corramos.cl, la mejor p&aacute;gina para saber todo lo relacionado al running en Chile
</p>

<%= link_to "Registrate ahora!", signup_path, :class => "signup_button round" %>